*{
    margin: 0;
    padding: 0;
}
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: red;
    cursor: pointer;
    width: 100px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item img {
    width: 100px;
  }

  #popup{
    z-index: 2;
    display: none;
    background-color: rgba(128, 128, 128, 0.615);
    position: absolute;
    width: 100vw;
    height: 100vh;
  }